/* Make sure these styles are not being overridden */
.hide-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari and Opera */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f5f5;
}
